{% include 'overall_header.html' %}

<h1>{{ lang('ACP_TABBEDSMILIES') }}</h1>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<!-- IF not $INCLUDED_JQUERYUIJS -->
	<!-- INCLUDECSS @fluffington_tabbedsmilies/jquery-ui.css -->
    <!-- INCLUDEJS @fluffington_tabbedsmilies/jquery-ui.js -->
    <!-- DEFINE $INCLUDED_JQUERYUIJS = true -->
<!-- ENDIF -->
<!-- INCLUDECSS @fluffington_tabbedsmilies/tab.css -->
<!-- INCLUDEJS @fluffington_tabbedsmilies/tab.js -->


	<fieldset class="tabulated">
		<legend>{{ lang('SETTINGS') }}</legend>
		<div id="outerbox" class="outerbox">
			{% for tab in tab_list %}
				{% if tab.id == 0 %}
					<div class="innerbox" id="tab-0" title="{{ lang('TABBEDSMILIES_HIDDEN_EXPLAIN') }}" >
						<h2>{{ lang('TABBEDSMILIES_HIDDEN') }}</h2>
				{% else %}
					<div class="innerbox outersort" id="tab-{{ tab.id }}" {% if tab.id == 1 %}title="{{ lang('TABBEDSMILIES_DEFAULT_EXPLAIN') }}"{% endif %}>
						<h2>
							<span><span class="h2_text">{{ tab.name }}</span> <i class="icon fas fa-cog renamebutton" title="{{ lang('TABBEDSMILIES_RENAME') }}"></i>{% if tab.id != 1 %} <i class="icon far fa-times-circle deletebutton" data-id="tab-{{ tab.id }}" title="{{ lang('TABBEDSMILIES_DELETE') }}"></i>{% endif %}</span>
							<input autocomplete="off" type="text" class="rename_box" data-id="tab-{{ tab.id }}" value="{{ tab.name }}" />
						</h2>
				{% endif %}
				{% for smiley in smiley_list %}
					{% if smiley.tab_id == tab.id %}
						<img id="smiley-{{ smiley.id }}" class="sortsmiley" src="../images/smilies/{{ smiley.url }}" style="width:{{ smiley.width }}px;height:{{ smiley.height }}px;" alt="{{ smiley.emotion }}" title="{{ smiley.code }} {{ smiley.emotion }}" />
					{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
			<div class="newbox outersort" id="newbox" style="position:relative">
				<h2>{{ lang('TABBEDSMILIES_NEW_BOX') }}</h2>
				<div class="buttonbox">
					<i class="icon fas fa-plus-square newbutton" data-id="1" title="{{ lang('TABBEDSMILIES_NEW_BOX') }}"></i>
				</div>
			</div>
		</div>


		<form id="fluffington_tabbedsmilies_acp" name="fluffington_tabbedsmilies_acp" method="post" action="{{ U_ACTION }}&action=save" data-ajax="fluffington.didSort" data-refresh="true">
			<p class="submit-buttons">
				<input name="sorting" id="updated_sorting" value="" type="hidden" />
				<input name="rename" id="updated_names" value="" type="hidden" />
				<input name="delete" id="deleted_tabs" value="" type="hidden" />
				<input class="button1" type="submit" value="{L_SUBMIT}" />
				<input id="resetButton" class="button2" type="button" value="{L_RESET}">
				{{ S_FORM_TOKEN }}
			</p>
		</form>
	</fieldset>


{% include 'overall_footer.html' %}
