<script>$("#mytabs").tabs({heightStyle:"fill"});</script>
<!-- IF not $INCLUDED_JQUERYUIJS -->
	<!-- INCLUDECSS @fluffington_tabbedsmilies/jquery-ui.css -->
    <!-- INCLUDEJS @fluffington_tabbedsmilies/jquery-ui.js -->
    <!-- DEFINE $INCLUDED_JQUERYUIJS = true -->
<!-- ENDIF -->
<!-- INCLUDEJS @fluffington_tabbedsmilies/tab.js -->


<div class="tabbox">
<div id="mytabs">
	<ul>
		{% for tab in tabs %}
		<li><a href="#tab-{{ tab['id'] }}">{{ tab['name'] }}</a></li>
		{% endfor %}
	</ul>
	{% for tab in tabs %}
	<div id="tab-{{ tab['id'] }}">
		{% for smiley in tab['smilies'] %}
			<a href="#" onclick="insert_text('{{ smiley['code'] }}', true); return false;"><img src="./images/smilies/{{ smiley['smiley_url'] }}" alt="{{ smiley['code'] }}" title="{{ smiley['emotion'] }}" width="{{ smiley['smiley_width'] }}" height="{{ smiley['smiley_height'] }}"></a>
		{% endfor %}
	</div>
	{% endfor %}
</div>
</div>
<style>
.tabbox{
	height: 150px;
	margin-bottom: 6px !important;
}
.message-box{
	width: unset;
	box-sizing
}
.smiley-box{
	width: unset;
	float: unset;
}
.inputbox{
	box-sizing: border-box;
}
.bbcode-status{
	display: none;
}
</style>
